<h2>Sub-Heading</h2>

<div class="container">
  <div class="row">
    <div class="col">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore rem odio enim quae modi, possimus impedit
        ratione quisquam vel reprehenderit perferendis eaque architecto earum omnis? Accusantium quisquam molestias
        eveniet dolore. </p>
    </div>
    <div class="col">
      <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore rem odio enim quae modi, possimus impedit
        ratione quisquam vel reprehenderit perferendis eaque architecto earum omnis? Accusantium quisquam molestias
        eveniet dolore. </p>
    </div>
  </div>
</div>