<div class="container-fluid customContainer">
  <div class="row header">
    <div class="col">
      <h2>Header</h2>
    </div>
  </div>

  <div class="row rowHeight">
    <div class="col-3 sideBar">
      <h2>Side-Bar</h2>
    </div>
    <div class="col">
      <div class="row">
        <div class="col subHeading">
          <h2>Sub-Heading</h2>
        </div>
      </div>
      <div class="row">
        <div class="col subHeading2 subHeading21">
          <h2>Sub-Heading 21</h2>
        </div>
        <div class="col subHeading2">
          <h2>Sub-Heading 22</h2>
        </div>
      </div>
    </div>
  </div>
</div>




































<!-- <h1>Hi, this is {{ title }}</h1>

<h2>My age is {{ typeExample }}</h2>

<h3>My hobies are:</h3>
<ol>
  <li *ngFor="let item of hobArray">{{ item }}</li>
</ol>

<h3>Do you like Eating?</h3>
<h2 *ngIf="!isEating">You need to eat food</h2>

<button (click)="onClick(true)">Yes</button>
<button (click)="onClick(false)">No</button> -->