.customContainer {
    color: white;
    text-align: center;
}

.header {
    background-color: red;
}

.sideBar {
    background-color: blue;
    margin-right: 15px;
    height: 40em;
}

.subHeading {
    background-color: yellow;
    color: black;
    height: 20em;
}

.rowHeight {
    margin: 1em 1em 0 1em;
}

.subHeading2 {
    background-color: green;
    margin-top: 1em;
    height: 19em;
}

.subHeading21 {
    margin-right: 1em;
}