<div class="row my-3">
  <div class="col-1">
    <button class="btn btn-primary" (click)="applyBtnFilter('')">All</button>
  </div>
  <div class="col-1">
    <button class="btn btn-success" (click)="applyBtnFilter('todo')">Todo</button>
  </div>
  <div class="col">
    <button class="btn btn-danger" (click)="applyBtnFilter('ready')">Ready</button>
  </div>
</div>
<div class="row my-3">
  <div class="col-3">
    <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilter($event.target.value, 'customerName')">
  </div>
  <div class="col-2">
    <input type="text" class="form-control" placeholder="Search..." (keyup)="applyFilter($event.target.value, 'phoneNumber')">
  </div>
</div>

<table class="table">
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Order Date</th>
    <th scope="col">Delivery Date</th>
    <th scope="col">Status</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of billArray">
      <td scope="row">{{ item.customerName }}</td>
      <td>{{ item.phoneNumber }}</td>
      <td>{{ item.orderDate | date }}</td>
      <td>{{ item.deliveryDate | date }}</td>
      <td>{{ item.status }}</td>
    </tr>
  </tbody>
</table>
