<div class="row">
  <div class="col text-center">
    <h1>More Info</h1>
  </div>
  <hr>
</div>

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col text-center">
        <h2>Name</h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h3>{{item.name}}</h3>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col text-center">
        <h2>Code</h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h3>{{item.code}}</h3>
      </div>
    </div>
  </div>
</div>
